{{ define "main" }}
<body>

<section class="product-wrapper py-5 text-center">
    <div class="container">
        <div class="row">
            {{ $pag := .Paginate .Pages }}
            {{ range $pag.Pages }}
            <div class="col-6 col-md-3 col-lg-2 border image-block">
                <a href="{{ .Permalink }}">
                    <img src="{{ .Params.image }}" alt="" class="w-100 product-image">
                    <p class="mb-0 text-dark text-truncate">{{ .Title }}</p>
                    <strong class="d-block mb-2">Rs {{ .Params.price }}</strong>
                    <div class="hvr-icons">
                        <a href="{{ .Permalink }}"><i class="fas fa-eye m-2"></i></a>
                        <a href="" data-toggle="modal" data-target="#addToCartModal"><i class="fas fa-cart-plus m-2"></i></a>
                        <a href=""><i class="far fa-heart m-2"></i></a>
                    </div>
                </a>
            </div>
            {{ end }}

        </div>
        <div class="mt-5">
            {{ template "_internal/pagination.html" . }}
        </div>
    </div>
</section>
</body>

{{ end }}
