<footer class="py-5">

    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <h4 class="footer-title mb-4">Contact</h4>

                    <strong>Address</strong>
                    <p>ABC Street, Kathmandu, Nepal</p>

                    <strong>Phone:</strong>
                    <p>+977-9815210214</p>

                    <strong>Email:</strong>
                    <p>info@abc.com</p>

                </div>
                <div class="col-sm-6 col-lg-3">
                    <h4 class="footer-title mb-4">Information</h4>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="about.html">About Us</a></li>
                        <li class="mb-2"><a href="contact.html">Contact Us</a></li>
                        <li class="mb-2"><a href="deliveryinfo.html">Delivery Information</a></li>
                        <li class="mb-2"><a href="terms.html">Terms & Conditions</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <h4 class="footer-title mb-4">My Account</h4>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="account.html">My Account</a></li>
                        <li class="mb-2"><a href="order.html">Orders History</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <h4 class="footer-title mb-4">Enter Your Email Address</h4>
                    <div class="input-group">
                        <input type="text" class="form-control rounded-0" aria-label="Text input with segmented dropdown button">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-secondary text-dark font-weight-bold rounded-0">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom text-center text-md-left">
        <div class="container">
            <div class="row">
                <div class="col-md-6 my-auto">
                    <p>Copyright ©2020 All rights reserved.</p>
                </div>
                <div class="col-md-6 text-md-right">
                    <ul class="list-unstyled">
                        <li class="d-inline-block mb-4">
                            <a class="nav-link text-white border mx-3" href="#" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="d-inline-block mb-4">
                            <a class="nav-link text-white border mx-3" href="#" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="d-inline-block mb-4">
                            <a class="nav-link text-white border mx-3" href="#" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="d-inline-block mb-4">
                            <a class="nav-link text-white border mx-3" href="#" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                        <li class="d-inline-block mb-4">
                            <a class="nav-link text-white border mx-3" href="#" target="_blank">
                                <i class="fab fa-tumblr"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
