<header>
    <!-- top header -->
    <div class="header-top">
        <div class="container">
            <div class="row">

                <div class="col-4 col-md-3">
                    <a class="navbar-brand" href="{{ $.Site.BaseURL }}">
                        <img src="{{ $.Site.Params.companyLogo }}" alt=""
                             class="logo" width="160px">
                    </a>
                </div>

                <div class="col-2 col-md-6 my-auto">
                    <div class="d-md-none text-center search-icon-toggle">
                        <i class="fas fa-search"></i>
                    </div>
                    <div class="search-bar">
                        <form id="search" class="example" style="margin:auto;max-width:300px">

                            <input type="text" id="search-input" placeholder="Search..">
                            <button type="submit" ><i class="fa fa-search" ></i></button>

                        </form>

                    </div>
                    <!-- <div class="search-display overlay">

                    </div> -->
                </div>

                <div class="col-6 col-md-3 text-right my-auto"><i class="fas fa-phone-volume mr-1 phone-icon"></i> 9845215214</div>
            </div>
        </div>
    </div>

    <!-- bottom header -->
    <div class="header-bottom">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light px-0">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain"
                        aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarMain">
                    <ul class="navbar-nav navbar-main mr-auto">
                        <li class="nav-item dropdown" style="width: 255px;">
                            <a class="nav-link dropdown-toggle px-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                <strong><i class="fas fa-bars mx-2"></i> All Categories</strong>
                            </a>
                            <div class="dropdown-menu border-0 rounded-0">
                                {{ partial "common/categoryList.html" . }}
                            </div>
                        </li>

                        {{ range site.Menus.main }}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                        {{ end }}

                    </ul>
                </div>
                <div class="pr-3 user-menu">
                    <div class="dropdown d-inline-block">
                        <a class="dropdown-toggle" type="button" id="user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user text-white"></i>
                        </a>
                        <div class="dropdown-menu border-0 rounded-0" aria-labelledby="user">
                            <a class="dropdown-item" href="#">Login</a>
                        </div>
                    </div>
                    <a href="/order/">
                        <i class="fas fa-cart-plus ml-3 text-white position-relative"></i>
                        <span class="badge badge-primary badge-pill cart-badge">0</span>
                    </a>
                </div>
            </nav>
        </div>
    </div> 

</header>

<!-- search content -->
<div class="search-display overlay container"></div>

<template id="search-result" hidden>
    <div class="container">
        <article class="content post border mb-2">
            <div class="row">
                <div class="col-md-3 col-xl-2">
                    <a title="Lorem ipsum" class="thumbnail">
                        <img class="product-image w-100" alt="Lorem ipsum"/>
                    </a>
                </div>
                <div class="col-md-9 col-xl-10 py-3 my-auto">
                    <h2 class="post-title"><a class="summary-title-link"></a></h2>
                </div>
            </div>
        </article>
    </div>
</template>
<!-- end -->

<script>

    window.addEventListener("DOMContentLoaded", function(event)
    {
        var index = null;
        var lookup = null;
        var queuedTerm = null;

        var form = document.getElementById("search");
        var input = document.getElementById("search-input");

        form.addEventListener("submit", function(event)
        {
            event.preventDefault();
            var term = input.value.trim();
            if (!term)
                return;

            startSearch(term);
        }, false);

        function startSearch(term)
        {
            // Start icon animation.
            form.setAttribute("data-running", "true");

            if (index)
            {
                // Index already present, search directly.
                search(term);
            }
            else if (queuedTerm)
            {
                // Index is being loaded, replace the term we want to search for.
                queuedTerm = term;
            }
            else
            {
                // Start loading index, perform the search when done.
                queuedTerm = term;
                initIndex();
            }
        }

        function searchDone()
        {
            // Stop icon animation.
            form.removeAttribute("data-running");

            queuedTerm = null;
        }

        function initIndex()
        {
            var request = new XMLHttpRequest();
            request.open("GET", "/search.json");
            request.responseType = "json";
            request.addEventListener("load", function(event)
            {
                lookup = {};
                index = lunr(function()
                {
                    // Uncomment the following line and replace de by the right language
                    // code to use a lunr language pack.

                    // this.use(lunr.de);

                    this.ref("uri");

                    // If you added more searchable fields to the search index, list them here.
                    this.field("title");
                    this.field("uri");
                    this.field("categories");

                    for (var doc of request.response)
                    {
                        this.add(doc);
                        lookup[doc.uri] = doc;
                    }
                });

                // Search index is ready, perform the search now
                search(queuedTerm);
            }, false);
            request.addEventListener("error", searchDone, false);
            request.send(null);
        }

        function search(term)
        {
            var results = index.search(term);
            console.log(results)

            // The element where search results should be displayed, adjust as needed.
            var target = document.querySelector("#content");

            while (target.firstChild)
                target.removeChild(target.firstChild);

            var title = document.createElement("h2");
            title.id = "search-results";
            title.className = "text-danger"
            title.className = "list-title";

            if (results.length == 0)
                title.textContent = `No results found for “${term}”`;
            else
                title.textContent = `Found ${results.length} results for “${term}”`;
            target.appendChild(title);
            document.title = title.textContent;

            var template = document.getElementById("search-result");
            for (var result of results)
            {
                var doc = lookup[result.ref];

                // Fill out search result template, adjust as needed.
                var element = template.content.cloneNode(true);
                element.querySelector(".product-image").src = doc.image;
                element.querySelector(".thumbnail").href = doc.uri;
                element.querySelector(".summary-title-link").href = doc.uri;
                element.querySelector(".summary-title-link").textContent = doc.title;
                target.appendChild(element);
            }
            title.scrollIntoView(true);

            searchDone();
        }

        // This matches Hugo's own summary logic:
        // https://github.com/gohugoio/hugo/blob/b5f39d23b8/helpers/content.go#L543
        function truncate(text, minWords)
        {
            var match;
            var result = "";
            var wordCount = 0;
            var regexp = /(\S+)(\s*)/g;
            while (match = regexp.exec(text))
            {
                wordCount++;
                if (wordCount <= minWords)
                    result += match[0];
                else
                {
                    var char1 = match[1][match[1].length - 1];
                    var char2 = match[2][0];
                    if (/[.?!"]/.test(char1) || char2 == "\n")
                    {
                        result += match[1];
                        break;
                    }
                    else
                        result += match[0];
                }
            }
            return result;
        }
    }, false);

</script>
