<script src="{{"js/jquery.slim.min.js" | absURL }}"></script>
<script src="{{"js/popper.min.js" | absURL }}"></script>
<script src="{{"js/bootstrap.min.js" | absURL }}"></script>
<script src="{{"js/font-awesome.min.js" | absURL }}"></script>
<script src="{{"js/main.js" | absURL }}"></script>
<script src = "https://code.jquery.com/jquery-3.3.1.min.js" integrity = "sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin = "anonymous"></script>
<script src="https://unpkg.com/khalti-checkout-web@latest/dist/khalti-checkout.iffe.js"></script>
<script src="https://unpkg.com/lunr/lunr.js"></script>


<script>
    const spinner = document.getElementById("spinner");

    var config = {
        // replace the publicKey with yours
        "publicKey": "test_public_key_e281eac499354a42beb024eb3ce9112b",
        "productIdentity": "1234567890",
        "productName": "{{ .Title }}",
        "productUrl": "https://goglides-theme.netlify.app/",
        "paymentPreference": [
            "MOBILE_BANKING",
            "KHALTI",
            "EBANKING",
            "CONNECT_IPS",
            "SCT",
        ],
        "eventHandler": {
            onSuccess (payload) {
                spinner.removeAttribute("hidden");
                var sendInfo = {
                    token: payload.token,
                    amount: payload.amount,
                    companyLogo: {{ .Site.Params.companyLogo }},
                    quantity: (payload.amount/100)/{{ .Params.price }},
                    productName: {{ .Title }}
                }
                $.ajax({
                    type: 'post',
                    cache: false,
                    // url: 'https://api-stage.goglides.com/v1/validateKhalti',
                    url:'http://127.0.0.1:8000/api/verify',
                    dataType: "json",
                    contentType: 'application/json',
                    data: JSON.stringify(sendInfo),
                    success: function(response) {
                        document.getElementById('myModal').style.display="block"
                        spinner.setAttribute("hidden", "");
                        document.getElementById('messageKhalti').textContent = 'Your payment is successful. Check your mail for confirmation.'
                        console.log('response', response)
                    },
                    error: function( response ){
                        document.getElementById('myModal').style.display="block"
                        spinner.setAttribute("hidden", "");
                        document.getElementById('messageKhalti').textContent = 'Something went wrong. Please try again'
                        console.log('response', response)
                    }
                });
                // hit merchant api for initiating verfication
            },
            onError (error) {
                console.log(error);
            },
            onClose () {
                console.log('widget is closing');
            }
        }
    };

var checkout = new KhaltiCheckout(config);
var btn = document.getElementById("payment-button");

btn.onclick = function () {
    // minimum transaction amount must be 10, i.e 1000 in paisa.
    checkout.show({amount: totalAmount*100});
}

    document.getElementById("priceDisplay").textContent = {{ .Params.price }};
    var totalAmount = parseInt(document.getElementById("priceDisplay").textContent)
    var totalPrice = {{int .Params.price }};
    document.getElementById("minusButton").disabled = true;
    function changePrice(n) {
        var count = document.getElementById("quantity").value;
        if((parseInt(count)+n) == 1){
            document.getElementById("minusButton").disabled = true;
        }else {
            document.getElementById("minusButton").disabled = false;
        }
        var total = (parseInt(count)+n) * totalPrice;
        document.getElementById("priceDisplay").textContent = total.toString();
        totalAmount = total
    }
</script>


<!-- Paste this code anywhere in you body tag -->
