<script src="{{"js/jquery.slim.min.js" | absURL }}"></script>
<script src="{{"js/popper.min.js" | absURL }}"></script>
<script src="{{"js/bootstrap.min.js" | absURL }}"></script>
<script src="{{"js/font-awesome.min.js" | absURL }}"></script>
<script src="{{"js/main.js" | absURL }}"></script>
<script src="https://unpkg.com/khalti-checkout-web@latest/dist/khalti-checkout.iffe.js"></script>


<script>
    var config = {
        // replace the publicKey with yours
        "publicKey": "test_public_key_dc74e0fd57cb46cd93832aee0a390234",
        "productIdentity": "1234567890",
        "productName": "{{ .Title }}",
        "productUrl": "https://goglides-theme.netlify.app/",
        "paymentPreference": [
            "MOBILE_BANKING",
            "KHALTI",
            "EBANKING",
            "CONNECT_IPS",
            "SCT",
        ],
        "eventHandler": {
            onSuccess (payload) {
                // hit merchant api for initiating verfication
                console.log(payload);
            },
            onError (error) {
                console.log(error);
            },
            onClose () {
                console.log('widget is closing');
            }
        }
    };

var checkout = new KhaltiCheckout(config);
var btn = document.getElementById("payment-button");
btn.onclick = function () {
    // minimum transaction amount must be 10, i.e 1000 in paisa.
    checkout.show({amount: {{mul (int .Params.price) 100 }}});
}
</script>


<!-- Paste this code anywhere in you body tag -->
