{{ define "main" }}
<body>

<!-- home slider -->
<section class="home-slider">
    <h1 class="d-none">Electronics</h1>
    <div class="container">
        <div class="d-flex">

            <!-- category -->
            <div class="category-wrapper">
                <div class="p-3">
                    <strong><i class="fas fa-bars mx-2"></i> All Categories</strong>
                </div>
                {{ partial "common/categoryList.html" . }}
            </div>

            <!-- slider -->
            {{ partial "home/slider.html" . }}

            <!-- banner -->
            {{ partial "home/banner.html" . }}
        </div>
    </div>
</section>
<!-- end -->

<!-- fearuted -->
{{ partial "home/featured.html" . }}
<!-- end -->

<!-- add banner -->
{{ partial "home/addBanner.html" . }}
<!-- end -->

<!-- electronics -->
{{ partial "home/electronics.html" . }}
<!-- end -->

<!-- Jewelry -->
{{ partial "home/jewelry.html" . }}
<!-- end -->

<!-- sports -->
{{ partial "home/sports.html" . }}
<!-- end -->

<!-- beauty -->
{{ partial "home/beauty.html" . }}
<!-- end -->

<!-- women's fashion -->
{{ partial "home/women.html" . }}
<!-- end -->

<!-- add banner -->
<section class="py-4">
    <div class="container">
        <img src="https://cdn.pixabay.com/photo/2020/04/25/09/10/cosmetics-5090010_960_720.jpg" alt="" class="w-100 ad-banner">
    </div>
</section>
<!-- end -->

<!-- men's fashion -->
{{ partial "home/men.html" . }}
<!-- end -->

<section class="py-5 text-center">
    <div class="container">
        <a href="/product">
        <button class="btn btn-lg btn-secondary rounded-0">Load More</button>
        </a>
    </div>
</section>




<!--Add To Cart Modal -->
<div class="modal fade" id="addToCartModal" tabindex="-1" role="dialog" aria-labelledby="addToCartModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title">My Cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Item</th>
                        <th>Description</th>
                        <th>Qty</th>
                        <th>Unit Price</th>
                        <th class="text-right">Action</th>
                    </tr>
                    <tr>
                        <td class="align-middle">
                            <img src="https://cdn.pixabay.com/photo/2017/12/24/18/29/wear-3037444_960_720.png" alt="" width="100px">
                        </td>
                        <td class="align-middle">Shoes</td>
                        <td class="align-middle">
                            <!-- <input type="number" value="1" min="1"> -->
                            <div class="input-group qty-btn">
                    <span class="input-group-btn">
                      <button type="button" class="quantity-left-minus btn border bg-light btn-number"  data-type="minus" data-field="">
                        <i class="fas fa-minus"></i>
                      </button>
                    </span>
                                <input type="text" id="quantity" name="quantity" class="form-control input-number text-center border-0" value="1" min="1" max="100">
                                <span class="input-group-btn">
                      <button type="button" class="quantity-right-plus btn border bg-light btn-number" data-type="plus" data-field="">
                        <i class="fas fa-plus"></i>
                      </button>
                    </span>
                            </div>
                        </td>
                        <td class="align-middle">Rs 800</td>
                        <td class="align-middle text-right text-danger"><i class="fas fa-trash-alt"></i></td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-right">Shipping</td>
                        <td class="text-right">0.00</td>
                    </tr>
                    <tr>
                        <th colspan="4" class="text-right">Total</th>
                        <th class="text-right">Rs 800</th>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-secondary text-white" data-dismiss="modal">Close</a>
                <a type="button" class="btn btn-primary" href="checkout.html">Checkout</a>
            </div>
        </div>
    </div>
</div>

</body>

{{ end }}
