<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><section class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a href="#">
                        <img src="https://cdn.pixabay.com/photo/2018/10/17/08/52/black-3753444_960_720.jpg" alt=""
                             class="w-100 ad-banner">
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#">
                        <img src="https://cdn.pixabay.com/photo/2016/02/03/12/43/percent-1176978_960_720.jpg" alt=""
                             class="w-100 ad-banner">
                    </a>
                </div>
            </div>
        </div>
    </section></title>
</head>
<body>

</body>
</html>
