<div class="flex-wrap-right bg-light">

    <img src="https://cdn.pixabay.com/photo/2019/03/25/10/36/marketing-4079915_960_720.jpg" alt=""
         class="w-100 offer-image">
    <img src="https://cdn.pixabay.com/photo/2019/11/06/14/27/cyber-monday-social-media-post-4606229_960_720.jpg"
         alt="" class="w-100 offer-image">

    <!-- <img src="https://cdn.pixabay.com/photo/2020/04/23/19/24/symbol-5083735_960_720.png" alt="" class="w-100 offer-image"> -->
    <!-- <img src="https://cdn.pixabay.com/photo/2016/02/03/12/43/percent-1176978_960_720.jpg" alt="" class="w-100 offer-image"> -->

    <!-- <img src="https://cdn.pixabay.com/photo/2015/09/20/08/04/megaphone-948015_960_720.jpg" alt="" class="w-100 offer-image">
    <img src="https://cdn.pixabay.com/photo/2018/10/16/10/32/black-3751144_960_720.jpg" alt="" class="w-100 offer-image"> -->
    <!-- <img src="https://cdn.pixabay.com/photo/2018/10/17/08/52/black-3753444_960_720.jpg" alt="" class="w-100 offer-image"> -->
</div>
